body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0%;
    font-family: sans-serif;
    background: rgba(204, 221, 128, 0.8);
    color: rgba(0, 0, 0, 0.9);
}
footer {
    text-align: center;
    padding: 20px;
    width: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    top: 50px;
}
header {
    top: 0px;
}
footer {
    margin-bottom: 0;
}
.logo img {
    border-radius: 50%;
}
.circulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.circle {
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(199, 31, 179, 0.8);
    box-shadow: 0px 10px 30px rgb(3, 53, 255, 1);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
    padding: 2px;
    cursor: pointer;
    transition: 
        transform 0.3s ease,
        border-color 2s ease, 
        box-shadow 1s ease;
}
.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}
.circle:hover {
    transform: scale(1.2);
    border-color: fuchsia; 
    box-shadow: 0px 20px 40px rgb(250, 5, 164, 1);
}





