body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0%;
    font-family: sans-serif;
    background: rgba(204, 221, 128, 0.8);
    color: rgba(0, 0, 0, 0.9);
}
footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    top: 50px;
    border-radius: 50%;
}
header {
    top: 0px;
}
.circulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.circle {
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border: 5px solid rgba(199, 31, 179, 0.8);
    box-shadow: 0px 10px 30px rgb(3, 53, 255, 1);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 20px;
    padding: 2px;
    cursor: pointer;
    transition: 
        transform 0.3s ease,
        border-color 2s ease, 
        box-shadow 1s ease;
}
.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.circle:hover {
    transform: scale(1.2);
    border-color: fuchsia; 
    box-shadow: 0px 20px 40px rgb(250, 5, 164, 1);
}
.rico-flotante {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 100%;
    margin-left: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: azure;
    border: 2px solid red;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transform: translateX(300px);
    transition: 
        opacity 0.3s ease,
        visibity 0.3s ease,
        transform 0.3s ease;
    z-index: 10;
}
.rico-flotante img {
    max-width: 250px;
    display: block;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    width: 100%;

}
.circle:hover .rico-flotante {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.circulo3:hover .rico-flotante {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.circulo1 {
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.8);
}





